.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list li {
    width: calc((100% - 72px) / 4);
}